#root {
    margin: 20px;
}

#cities_list {
    margin: auto;
}

.cities_table {
   margin: auto;
}

td, th
{
    text-align: center !important;
    vertical-align: center !important;
    white-space: nowrap;
}

.add-city {
    float: right;
}